= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation{style: "margin-bottom:60px;"}
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :title, placeholder: "Title"
  %br
  %br
  = f.text_area(:content, cols: 100, rows: 10, placeholder: "Content")
  %br
  = f.button :submit, class: "btn-primary btn-lg"
